In [2]:
import pandas as pd
import numpy as np

In [3]:
gdp = pd.read_csv('./Datasets/US_GDP.csv')
gdp.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [4]:
gdp['date'] = pd.to_datetime(gdp['date'])
gdp_mem = gdp.set_index('date')
gdp_mem.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [6]:
gdp_mem.to_csv('./Datasets/US_GDP_date_index.csv', index=None)

In [9]:
df = pd.DataFrame({'foo': [1,2,3], 'bar': [2,3,4]})
df.sum(axis=1)

0    3
1    5
2    7
dtype: int64