In [2]:
import pandas as pd

In [17]:
file_url = "./Data/retail_purchase.csv"
df = pd.read_csv(file_url)
display.display(df.info())

df['Date of Purchase'] = pd.to_datetime(df['Date of Purchase'], format='%d/%m/%y')

df['Product Name'] = df['Product Name'].astype('category')
df['Product Weight'] = df['Product Weight'].str.replace('lb', '').astype('float')
df['Total Price'] = df['Total Price'].str.replace('€', '').astype('float')
df['Retail shop name'] = df['Retail shop name'].astype('category')

from IPython import display
display.display(df.head())
display.display(df.dtypes)
display.display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Receipt Id        100000 non-null  int64
 1   Date of Purchase  100000 non-null  object
 2   Product Name      100000 non-null  object
 3   Product Weight    100000 non-null  object
 4   Total Price       100000 non-null  object
 5   Retail shop name  100000 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.6+ MB

None

,Receipt Id,Date of Purchase,Product Name,Product Weight,Total Price,Retail shop name
0,10001,2020-05-24,Wheat,4.8,17.0,Fline Store
1,10002,2020-05-05,Fruit Juice,3.1,19.0,Dello Superstore
2,10003,2020-04-27,Vegetables,1.2,15.0,Javies Retail
3,10004,2020-05-05,Oil,3.1,17.0,Javies Retail
4,10005,2020-04-27,Wheat,4.8,13.0,Javies Retail

Receipt Id                   int64
Date of Purchase    datetime64[ns]
Product Name              category
Product Weight             float64
Total Price                float64
Retail shop name          category
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Receipt Id        100000 non-null  int64
 1   Date of Purchase  100000 non-null  datetime64[ns]
 2   Product Name      100000 non-null  category
 3   Product Weight    100000 non-null  float64
 4   Total Price       100000 non-null  float64
 5   Retail shop name  100000 non-null  category
dtypes: category(2), datetime64[ns](1), float64(2), int64(1)
memory usage: 3.2 MB

None

In [18]:
column_names = ["Customer ID", "Customer Name",\
                "2018 Revenue", "2019 Revenue",\
                "Growth", "Start Year", "Start Month",\
                "Start Day", "New Customer"]
row1 = list([1001.0, 'Pandas Banking',\
             '€235000', '€248000',\
             '5.5%', 2013,3,10, 0])
row2 = list([1002.0, 'Pandas Grocery', \
             '€196000', '€205000', \
             '4.5%', 2016,4,30, 0])
row3 = list([1003.0, 'Pandas Telecom', \
             '€167000', '€193000', '15.5%',\
             2010,11,24, 0])
row4 = list([1004.0, 'Pandas Transport',\
             '€79000', '€90000', '13.9%', \
             2018,1,15, 1])
row5 = list([1005.0, 'Pandas Insurance', \
             '€241000', '€264000', '9.5%',\
             2009,6,1, 0])

df = pd.DataFrame(data = [row1, row2, row3, row4, row5], columns = column_names)

In [19]:
df.dtypes

def remove_currency(column):
    new_column = column.replace('€', '')
    print(new_column)
    return int(new_column)

Customer ID      float64
Customer Name     object
2018 Revenue      object
2019 Revenue      object
Growth            object
Start Year         int64
Start Month        int64
Start Day          int64
New Customer       int64
dtype: object